<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>angel01.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,732},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>angel02.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,244},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>angel03.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,0},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>angel04.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,976},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>angel05.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,732},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>angel06.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,488},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>angeldeath.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,244},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>angelfly01.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,0},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>angelfly02.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,976},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>daemon01.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,488},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>daemon02.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,488},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>daemon03.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,244},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>daemon04.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,0},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>daemon05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,976},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>daemon06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,732},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>daemondeath.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,488},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>daemonfly01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,244},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

			<key>daemonfly02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{243,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,243}}</string>
				<key>sourceSize</key>
				<string>{243,243}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{976,1220}</string>
			<key>textureFileName</key>
			<string>aod.png</string>
			</dict>
		</dict>
</plist>