<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>angel01bot01.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,795},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

			<key>angel01bot02.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,265},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

			<key>angel01bot03.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,0},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

			<key>angel02bot01.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,1060},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

			<key>angel02bot02.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,795},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

			<key>angel02bot03.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,530},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

			<key>angel03bot01.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,265},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

			<key>angel03bot02.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,0},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

			<key>angel03bot03.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,1060},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

			<key>angel04bot01.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,530},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

			<key>angel04bot02.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,530},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

			<key>angel04bot03.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,265},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

			<key>angel05bot01.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,0},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

			<key>angel05bot02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1060},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

			<key>angel05bot03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,795},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

			<key>angel06bot01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,530},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

			<key>angel06bot02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,265},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

			<key>angel06bot03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{264,264}}</string>
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1060,1325}</string>
			<key>textureFileName</key>
			<string>angelbot.png</string>
			</dict>
		</dict>
</plist>